/*
Syntax error: Illegal nesting: Only properties may be nested beneath properties.
        on line 127 of app/sass/application.sass

122: 	text-align: center
123: 	background-image: url('/images/loading.gif')
124: 	background-repeat: no-repeat
125: 	background-position: center 80%
126: 	background-size: 12%
127: 		.close
128: 			background-image: url('/images/close_popup.png')
129: 			width: 12px
130: 			height: 12px
131: 			display: block
132: 	

Backtrace:
app/sass/application.sass:127
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:28:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:39:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:28:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:39:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:28:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:35:in `visit_root'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/tree/root_node.rb:19:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Illegal nesting: Only properties may be nested beneath properties.\A         on line 127 of app/sass/application.sass\A \A 122: 	text-align: center\A 123: 	background-image: url('/images/loading.gif')\A 124: 	background-repeat: no-repeat\A 125: 	background-position: center 80%\A 126: 	background-size: 12%\A 127: 		.close\A 128: 			background-image: url('/images/close_popup.png')\A 129: 			width: 12px\A 130: 			height: 12px\A 131: 			display: block\A 132: 	"; }
