/*
Syntax error: Invalid CSS after "margin:": expected pseudoclass or pseudoelement, was "-112px 0 0 320px"
        on line 4 of app/sass/_feed.sass
        from line 51 of app/sass/application.sass

1: $review_w: 320px
2: $rrinfo_w: 180px
3: $rrinfo_lh: 2px
4: $rhr_lrm: 20px
5: $rhr_tbm: 15px
6: 
7: $place_name_fs: 0.9em
8: $place_name_pl: 20px
9: 

Backtrace:
app/sass/_feed.sass:4
app/sass/application.sass:51
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:938:in `expr!'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:701:in `pseudo'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:591:in `simple_selector_sequence'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:567:in `_selector'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:551:in `selector_comma_sequence'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/parser.rb:937:in `expr!'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/scss/static_parser.rb:18:in `parse_selector'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:232:in `visit_rule'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"margin:\": expected pseudoclass or pseudoelement, was \"-112px 0 0 320px\"\A         on line 4 of app/sass/_feed.sass\A         from line 51 of app/sass/application.sass\A \A 1: $review_w: 320px\A 2: $rrinfo_w: 180px\A 3: $rrinfo_lh: 2px\A 4: $rhr_lrm: 20px\A 5: $rhr_tbm: 15px\A 6: \A 7: $place_name_fs: 0.9em\A 8: $place_name_pl: 20px\A 9: "; }
