/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 123 of app/sass/_top_dishes.sass
        from line 54 of app/sass/application.sass

118: 			float: left
119: 			color: #fff
120: 			margin-top: 30px
121: 			text-shadow: none
122: 	.dish.expand
123: 			height: 320px
124: 	.dish_info
125: 		height: 110px
126: 		background: left center
127: 		background-size: 320px
128: 		position: absolute

Backtrace:
app/sass/_top_dishes.sass:123
app/sass/application.sass:54
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:443:in `tree'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:445:in `tree'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:330:in `_to_tree'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/mac/.rvm/gems/ruby-1.9.3-p194@disherence/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 123 of app/sass/_top_dishes.sass\A         from line 54 of app/sass/application.sass\A \A 118: 			float: left\A 119: 			color: #fff\A 120: 			margin-top: 30px\A 121: 			text-shadow: none\A 122: 	.dish.expand\A 123: 			height: 320px\A 124: 	.dish_info\A 125: 		height: 110px\A 126: 		background: left center\A 127: 		background-size: 320px\A 128: 		position: absolute"; }
