<div id="loader" class="hidden">Loading</div>
<div id="header">
	<%= user_picture%>	
	<div class="close_map hidden"><img src="/images/trsp.gif" /></div>
	<a id="bbutton" class="hidden" href="/"><img src="/images/trsp.gif" /></a>
	<div id="search_restaurant"><img src="/images/trsp.gif" /></div>
	<a id="logo" href="/"><img id="logo_img" src="/images/trsp.gif" /></a>
</div> 
<div id="content">
	<div id="wrapper"> 
		<div id="scroller"> 
			<div id="map">
				<%= render 'restaurants' %>
			</div>
		</div>
	</div>
</div>