<div id="header"><a id="logo" href="/"><img id="logo_img" src="/images/trsp.gif" /></a></div> 
<div id="content">
	<div id="wrapper"> 
		<div id="scroller"> 
			<div id="map">
				<ul id="thelist">
					<li>
						<div id="search_map_canvas"></div>
						<script>
				
				      var script = '<script type="text/javascript" src="http://google-maps-' +
				          'utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble';
				      if (document.location.search.indexOf('compiled') !== -1) {
				        script += '-compiled';
				      }
				      script += '.js"><' + '/script>';
				      document.write(script);
				
							map = load_map('search_map_canvas');
							<%= raw @restaurants_info %>
							var places = []
							for (var i = 0; i < r_info.length; i++) {
						    place = []
								place[0] = r_info[i]['name'];
								place[1] = r_info[i]['lat'];
								place[2] = r_info[i]['lng'];
								place[3] = 1;
								place[4] = r_info[i]['id'];
								places.push(place)
							}
							setMarkers(map, places)
						</script>
					</li>
				<%= render @restaurants %>
				</ul>
			</div>