<div id="ask_location">
	Please tell us your city: 
	<input name="location" id="location" type="text" />
	<input id="submit_location" type="button" value="this is my city" />
</div>
<img id="splashscreen" src="/images/splashscreen.jpg"/>