.close_map.hidden
	display: none
.close_map, .recheck
	border: 1px solid #aeb897
	border-radius: 5px
	padding: 2px 5px
	font-size: 17px
	color: #726658
	background: #f0f1d3
	display: block
	float: left
	margin: 10px 15px
	cursor: pointer

.recheck
	float: right
	
#container #scroller #map ul li
	height: auto
#map
	.phoney
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)))
		overflow: hidden
		height: 19px

	.phoneytext a
		text-shadow: 0 -1px 0 #000
		color: #fff
		font-size: 15px
		line-height: 20px
		padding: 0
		height: 19px
		
	width: $review_w
	#search_map_canvas
		height: $review_w - $review_w * 0.5
		width: $review_w
		-webkit-transition: height 0.3s ease
	#search_map_canvas.expand_search_map_canvas
		height: 330px
	.restaurant
		margin-top: 10px
		color: #414143
		background: #dfdfc5
		.distance
			color: #6c6053
			height: 60px
			width: $review_w / 6
			float: left
			display: block
			text-align: right
			padding: 9px 10px 0 0
		.info
			margin-right: 10px
			.restaurant_name
				float: left
				font-size: 1.7em
				width: 160px
			.rate
				float: right
				.star
					float: left
					margin-left: 3px
					width: 14px
					height: 14px
					background-size: 14px
				.fill
					background: url('../images/fill.png') no-repeat
				.half
					background: url('../images/half.png') no-repeat
				.empty
					background: url('../images/empty.png') no-repeat
			.rating
				clear: both
				font-size: 0.8em
				color: #808086
				text-shadow: none
				float: right
			.ico
				float: left
				width: 12px
				height: 14px
				background: url('../images/rr-users.png') no-repeat 0 center
				background-size: 10px
		.address
			float: left
			background: url('../images/rr-marker.png') no-repeat
			background-size: 12px
			padding-left: 20px
		.stats
			text-shadow: none
			float: left
			font-family: CompPro_bold
			width: 250px
	.hr
		margin-left: 64px
		margin-right: 10px
		clear: both
		height: 1px
		border-top: #9fa198 1px solid
		background: #fff