// $rrinfo_w: 180px
// $rrinfo_lh: 2px
// $rhr_lrm: 20px
// $rhr_tbm: 15px

// $place_name_fs: 0.9em
// $place_name_pl: 20px

// $review_h: 270px
// $rrinfo_h: $rrinfo_w / 2
// $rrinfo_pl: $rrinfo_w / 7.5
// $urinfo_h: $width / 5

#container #scroller #top_dishes ul li
	height: auto
	
#top_dishes
	width: 100%
	
	ul
		li
			border-bottom: 1px #e8ebcb solid
			position: relative
	
	.hrw
		clear: both
		width: 100%
		
	.b_share
		background-image: url('../images/b_share.png')
		background-repeat: no-repeat 
		float: right
		height: 29px
		width: 41px
		margin: 35px -75px -35px 0
		background-size: 100%

	.b_share.pressed
		background-position: 0 100%
			
	.restaurant
		margin: 10px 0 10px 10px 
		color: #414143
		background: #dfdfc5
		
		#menu_button
			width: 57px
			height: 25px
			margin-top: 3px
			background: url('../images/td-menu-button.png') no-repeat 
			background-size: 57px
			display: block
			float: right
		.info
			margin-right: 10px
			.name
				float: left
				font-size: 1.7em
				width: 70%
				line-height: 0.9em
			.rate
				float: right
				.star
					float: left
					margin-left: 3px
					width: 14px
					height: 14px
					background-size: 14px
					background-repeat: no-repeat
				.fill
					background-image: url('../images/fill.png')
				.half
					background-image: url('../images/half.png')
				.empty
					background-image: url('../images/empty.png')
			.rating
				clear: both
				font-size: 0.8em
				color: #808086
				text-shadow: none
				float: right
			.ico
				float: left
				width: 12px
				height: 14px
				background: url('../images/rr-users.png') no-repeat 0 center
				background-size: 10px
		.address
			clear: both
			float: left
			background: url('../images/rr-marker.png') no-repeat
			background-size: 12px
			padding-left: 20px
			margin-right: 5px
			width: 65%
		.stats
			clear: both
			text-shadow: none
			float: left
			font-family: CompPro_bold
			margin-right: 5px
			width: 80%
	.hr
		clear: both
		height: 1px
		border-top: #9fa198 1px solid
		background: #fff
		margin: 0 10px
	#banner
		height: 30px
		width: 301px
		margin: 0 auto
		background: url('../images/td-banner.png') no-repeat 0 center
		background-size: 301px
		color: #726658
		text-shadow: none
		font-size: 0.9em
		text-align: center
		padding-top: 45px		
	.dish
		height: 110px
		background: center
		background-size: cover
		position: relative
		overflow: hidden
		-webkit-transition: height 0.2s ease-in
		
		.name, .price
			float: left
			font-family: CompPro_bold
			font-size: 1.7em
			padding: 5px 0 0 10px
			color: #d5ffbf
			text-shadow: 0 1px 2px #666
			width: 220px
			line-height: 0.9em
			
		.name
			width: 100%
			height: 100%
			display: block
			background-image: url('/images/name_shadow.png')
			background-repeat: repeat-x
		
		.price
			width: auto
			padding-left: 28px
			clear: both
			
		.comment
			position: absolute
			color: #fff
			bottom: 10px
			left: 10px
			text-shadow: none
			
			.user_img
				background-position: center center
				background-size: cover
				margin: 1px 3px 0 0
				width: 30px
				height: 30px
				float: left
				border: 3px solid #fff
			
	.dish.expand
		height: $width
	
	.dish_info_container.slideLeft
		left: -100%
		
	.dish_info_container
		-webkit-transition: left 0.3s ease
		position: relative
		
		.rating.dislike
			background-image: url('/images/td-hate-flag.png')
			color: #e1b356
		
		.rating
			font-family: CompPro_bold
			background: url('../images/td-rate-flag.png') no-repeat 0 center
			background-size: 100%
			font-size: 2em
			color: #d2ffbe
			right: -20px
			padding: 16px 36px 25px 40px
			top: 5px
			text-shadow: 1px 1px 0px #444
			position: absolute
			z-index: 99
			min-width: 35px
			
			.like_it, .hate_it
				font-size: 0.5em
				font-family: CompPro
				display: block
				line-height: 0.1em
				margin: -1px 0 12px 4px
		.dish_info
		
			z-index: 98
			background-position: left center
			background-size: 100%
			position: absolute
			left: 100%
			width: 100%
			background-image: url('../images/pli-bg.png')
			
			.description
				margin: 10px 7%
				font-size: 1.2em
				color: #fff
				text-shadow: none
				overflow: auto
				-webkit-overflow-scrolling: touch
				max-height: 165px
				width: 88%
				
				.user_img
					background-position: center center
					background-size: cover
					margin: 1px 5px 5px 0
					width: 30px
					height: 30px
					float: left
					border: 3px solid #fff
				
				ul
					margin-top: 5px
					li
						font-size: 0.8em
						line-height: 1.4em
						margin-bottom: 5px
						border: none
						min-height: 45px
			
			.hr_b
				clear: both
				height: 2px
				margin: 0 0 0 7%
				background: #9d9c9d
				width: 88%
			
			.stats			
				font-size: 1.7em
				right: 10px
				top: 5px
				position: absolute
				
				.like, .dislike
					background-image: url('../images/pli-like.png')
					background-position: left center
					background-repeat: no-repeat
					background-size: 25px
					float: right			
					padding-left: 30px 
					margin-bottom: 10px
					color: #d2ffbe
					text-shadow: none
					height: 25px
					
				.dislike
					background-image: url('../images/pli-dislike.png')
					background-position: 5px center
					border-left: 1px solid #cbcbcd
					margin-left: 5px
					color: #e0b355
					
			.cover
				background: url('../images/td-rate-flag-tail.png') no-repeat -5px center
				background-size: contain
				float: left
				height: 48px
				padding: 5px 7px 12px 20px
				margin-top: 1px
				text-shadow: 0 2px 2px #999
			.name
				line-height: 0.8em
				padding: 10px 0 5px 30px
				width: 290px
				background: none
			
			.status_aw.opacity_zero
				opacity: 0
				
			.btn_container
				position: relative
				bottom: 10px
				width: 320px
				margin: 0 auto

			.status_aw				
				position: absolute
				width: 106%
				visibility: hidden
				opacity: 0
				background-image: url('/images/op_btns.png?123')
				background-size: 94% auto
				-webkit-transition: opacity 0.4s ease
				margin: 10px 0 0 0
				
				.trsp_status
					height: 49px
				
			.status_aw.set_agree_aw, .status_aw.set_disagree_aw
				visibility: visible
				opacity: 1
				background-repeat: no-repeat
				background-position: 0px 39%

			.status_aw.set_disagree_aw
				background-position: 0px 58%		

			.status_aw.set_agree_aw.tapped
				background-position: 0px 77%				
				
			.status_aw.set_disagree_aw.tapped
				background-position: 0px 96%		
				
			.btn_agree_aw, .btn_disagree_aw
				margin-top: 12px
				width: 45%
				float: left
				background-size: 205% auto
				background-image: url('/images/op_btns.png?123')
			.btn_agree_aw
				margin-left: 3.5%
				
			.btn_agree_aw.tapped
				background-position: 0 19%
			.btn_disagree_aw
				background-image: url('/images/op_btns.png?123')
				background-position: 100% 0
				margin-left: 10px
			.btn_disagree_aw.tapped
				background-position: 100% 19%