$width: 320px

#bbutton.hidden
	display: none
#bbutton 
	background: url('/images/b_button.png') no-repeat
	height: 22px
	width: 50px
	background-size: 88%
	float: left
	margin: 8px
	color: #726658
	font-size: 17px
	padding-left: 20px
	padding-top: 5px
	

body
	font-family: CompPro
	text-shadow: 0 1px 0 white
	margin: 0
	padding: 0
	background: #e2e2c8
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-user-select: none
	-webkit-text-size-adjust: none
	
#splashscreen
	width: 100%
	
#logo_img, #logo
	width: 100px
	height: 30px
	display: block
	margin: 6px auto
	
a:link, a:visited, a:hover, a:active
	color: #424242
	text-decoration: none
	
ul
	margin: 0
	padding: 0

li
	list-style: none

#container
	width: $width
	position: absolute
	height: 100%
	margin: 0 auto
	left: 50%
	margin-left: -$width/2
	
	#scroller ul li
		height: $width * 1.2
	
#header	
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 45px
	padding: 0
	background: #F1F1D5 center center no-repeat
	border-bottom: 1px solid #fff
	background-image: url('/images/logo.png')
	background-size: auto 75%
	
.trsp
	width: $width
	display: block
	
.star
	float: left
	margin-left: 3px
	width: 14px
	height: 14px
	background-size: 14px
	background-repeat: no-repeat
.fill
	background-image: url('../images/fill.png')
.half
	background-image: url('../images/half.png')
.empty
	background-image: url('../images/empty.png')

@import "fonts"
@import "top_dishes"
@import "feed"
@import "map"