<script>window.location.hash = ''</script>
<div id="header"></div> 
<div id="content">
	<div id="wrapper"> 
		<div id="scroller"> 
			<ul id="thelist">
				<%= render @reviews %>
			</ul> 
		</div>		 
	</div>
</div>
<a href="/restaurants" id="resataurants_button"><img class="trsp" src="/images/trsp.gif" /></a>