<!DOCTYPE html> 
<html> 
	<head> 
		<title>Disherence</title> 
		<meta name="viewport" content="width=device-width, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="/stylesheets/application.css?<%=Time.now().to_i%>" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/scrollbar.css"> 
		<script src="/javascripts/jquery-1.7.2.min.js"></script>
		<script src="/javascripts/jquery.mobile.custom.min.js"></script>
		<script src="/javascripts/iscroll.js"></script>
		<script src="/javascripts/jquery.cookie.js"></script> 
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAuEnV8Q2S5-Q284dxPFLHohCE37L0gPlo&sensor=false" type="text/javascript"></script>
		<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js" type="text/javascript" ></script>
		<script src="/javascripts/jquery.sausage.js"></script> 
		<script src="/javascripts/application.js?<%=Time.now().to_i%>"></script>
	</head>
<body>
	<div id="container">
		<div id="loader" class="hidden">Loading places next to you</div>
		<%= yield %>
	</div>
</body>
</html>